@tailwind base;
@tailwind components;
@tailwind utilities;


.input-container input::-webkit-inner-spin-button,
.input-container input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  display: none;
}
.input-container input[type="number"] {
  -moz-appearance: textfield;
}