@tailwind base;
@tailwind components;
@tailwind utilities;


.input-container input::-webkit-inner-spin-button,
.input-container input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  display: none;
}
.input-container input[type="number"] {
  -moz-appearance: textfield;
}


.fiCircle {
  width: 36px;
  height: 36px;
  font-size: 36px;
  border-radius: 100%;
  border: none;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .06);
  background: white;
}